.mainHome {
    overflow: hidden;
}

.hero a {
    color: var(--white);
}

.hero {
    width: 100vw;
    height: 98vh; 
    position: relative;
    padding: 5%;
    color: var(--white);
    background: var(--pur-black);
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.hero h1 {
    font-size: 4rem;
    padding-bottom: 2vh;
    width: 50%;
    text-align: left;
}

.hero .hero-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    z-index: 1;
}

.hero .hero-content h2 {
    font-size: 4rem;
    color: var(--primary-blue);
}

.hero-content p {
    font-size: 1rem;
    width: 80%;
}

.hero .hero-btns {
    display: flex;
    flex-direction: row; 
    gap: 2vw;
    padding-top: 4%;
}

.primary-btn {
    color: var(--white);
    background: var(--primary-blue);
    padding: 1rem 1.9rem;
    border-radius: var(--bradius-btn);
}

.hero .btn:hover {
    background: var(--secondary-blue);
    color: var(--white);
    border: none;
    transition: var(--trans-text);
} 

.secondary-btn {
    color: var(--white);
    background: var(--pur-black);
    border: var(--border-btn);
    padding: 1rem 1.8rem;
    border-radius: var(--bradius-btn);
}

.hero video {
    position: absolute;
    right: 0;
    height: auto;
    object-fit: cover;
    width: 40vw;
    transform: scale(1.4);
}



/* offre  */

.offre img{
    width: 100vw;
    max-width: 100%;
    object-fit: cover;
}




/*  produit section  */

.wrapper {
    margin-top: 10vh;
    max-width: 100vw;
    padding: 0 10%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    margin-bottom: 10vh;
}

/* .wrapper h2, p {
    text-align: center;
   
}  */
.wrapper h2 {
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 10px;
}

.wrapper p {
    font-size: 1rem;
    color: var(--section-p);
    max-width: 600px;
}

.wrapper #left, #right {
   height: 50px;
   width: 50px;
   background: #000;
   color: #fff;
   text-align: center;
   line-height: 50px;
   border-radius: 50%;
   cursor: pointer;
   position: absolute;
   top: 50%;
   font-size: 1.25rem;
   transform: translateY(-50%);
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
   z-index: 10;
}

.wrapper #left{
    left: 2vw;
}

.wrapper #right {
    right: 2vw;
}

.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% /3) - 12px) ;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel :where(.card )
 {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .carousel.no-transition {
    scroll-behavior: auto;
 }

 .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
 }

 .carousel.dragging .card {
    cursor: grab;
    user-select: none;
 }


.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition: all .6s ;
}

.col-img {
    overflow: hidden;
    border-radius: 28px;

}

.col-img img {
    display: block;
    width: 100%;
    transition: transform 0.5s;
    cursor: pointer;
}

.col-img:hover img{
    transform: scale(1.05);
}

.col-icon {
    position: absolute;
     bottom: 20px;
     right: 60px;
     z-index: 1;
}

.col-icon a{
  display: block;

}

.col-icon i {
    margin-bottom: 20px ;
    width: 40px;
    height: 40px;
    background: black;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0;
    transition: all .6s;
}

.card:hover .col-icon i{
    opacity: 1;
    transform: rotate3d(0, 0, 1, 360deg) scale(1.03);
}

.wrapper #left, #right {
    width: 45px;
    height: 45px;
}



/* perso section */


/* perso section */
.visually-hidden {
    display: none;
}


.perso {
    background: var(--pur-black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw;
}

.perso .perso-content {
    display: flex;
    flex-direction: column;
    gap: 9vh;
    width: 50%;
}

.perso .perso-content h2 {
    color: var(--white);
    font-size: 3rem;
    text-align: left;
}

.perso .perso-content p {
    text-align: left;
}

.perso .perso-content a {
    width: 15vw;
    text-align: center;
    align-self: flex-start;
}

.perso .btn {
    color: var(--white);
    background: var(--primary-blue);
    width: 30vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: var(--bradius-btn);
}