.mainHome {
    overflow: hidden;
}

.hero a {
    color: var(--white);
}

.hero {
    width: 100vw;
    height: 93vh; 
    position: relative;
    padding: 5%;
    color: var(--white);
    background: var(--pur-black);
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.hero h1 {
    font-size: 4rem;
    padding-bottom: 2vh;
    width: 50%;
    text-align: left;
}

.hero .hero-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    z-index: 1;
}

.hero .hero-content h2 {
    font-size: 4rem;
    color: var(--primary-blue);
}

.hero-content p {
    font-size: 1rem;
    width: 80%;
}

.hero .hero-btns {
    display: flex;
    flex-direction: row; 
    gap: 2vw;
    padding-top: 4%;
}

.primary-btn {
    color: var(--white);
    background: var(--primary-blue);
    padding: 1rem 1.9rem;
    border-radius: var(--bradius-btn);
}

.hero .btn:hover {
    background: var(--secondary-blue);
    color: var(--white);
    border: none;
    transition: var(--trans-text);
} 

.secondary-btn {
    color: var(--white);
    background: var(--pur-black);
    border: var(--border-btn);
    padding: 1rem 1.8rem;
    border-radius: var(--bradius-btn);
}

.hero video {
    position: absolute;
    right: 0;
    height: auto;
    object-fit: cover;
    width: 40vw;
    transform: scale(1.4);
}



/* offre  */

.offre img{
    width: 100vw;
    max-width: 100%;
    object-fit: cover;
}