table {
    width: 100%; /* Prend toute la largeur disponible */
    border-collapse: collapse; /* Fusionne les bordures */
    margin: 20px 0; /* Espacement autour de la table */
    font-size: 16px; /* Taille du texte */
    text-align: left; /* Alignement du texte */
}

table th, table td {
    padding: 12px 15px; 
    border: 1px solid #ddd;
    text-align: center; 
    font-family: sans-serif;
}



table th {
    background-color: #f4f4f4; /* Couleur d'en-tête */
    font-weight: bold; /* Texte en gras */
}

table tr:nth-child(even) {
    background-color: #f9f9f9; /* Couleur pour les lignes paires */
}

table tr:hover {
    background-color: #f1f1f1; /* Couleur au survol */
}

table img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}


.button .link{
    margin-right: 2vw;
}

.button i{
    color: black;
    font-size: 1.5rem;
    margin-right: 1vw;
}

.button i:first-child {
    color: black;
}

.button i:last-child {
    color: red;
}
