.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form p {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form input,
.form select,
.form textarea,
.form button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.form button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition:  0.3s;
}

.form button:hover {
    background: #0056b3;
}

span {
    color: red;
    font-size: 14px;
}

.image-preview {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

/* Conteneur principal pour l'aperçu de l'image */
.image-preview {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

/* L'image elle-même */
.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover; 

/* Bouton pour supprimer l'image */
.remove-image-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%; /* Bouton arrondi */
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition:  0.3s ease-in-out;
    z-index: 2; 
}

.remove-image-btn:hover {
    background: darkred;
}

/* Style du bouton "Ajouter un fichier" */
.custom-file-input {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:  0.3s ease-in-out;
    margin-top: 15px;
}

.custom-file-input:hover {
    background: #0056b3;
}

input[type="file"] {
    display: none;
}
